node-linker=hoisted
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*@mdx-js*
public-hoist-pattern[]=*@emotion*
public-hoist-pattern[]=*filesize*
public-hoist-pattern[]=*react-confetti*
public-hoist-pattern[]=*strip-ansi*
public-hoist-pattern[]=*polished* 